/conda_env/
/env/
/venv/


*.pyc
__pycache__/


logs/
*.log


mlruns/
mlartifacts/


data/


notebooks/.ipynb_checkpoints/


config.yaml
secrets.yaml



requirements.txt
conda.yml.lock


.vscode/

.DS_Store